*{
    margin: 0;
    padding: 0;
}
.calendar-box{
    width: 260px;
    height: 352px;
    margin: 20px auto;
    border: 1px solid red;
}
.calendar-box .nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background:  red;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.calendar{
    margin: 0  auto;
    width: 240px;
    height: 290px;
    display: block;
}
.calendar .calendar-title-box{
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /*border-bottom: 1px solid #ddd;*/
}
.calendar .prev-month,.next-month{
    position: absolute;
    top: 12px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    cursor: pointer;
}
.calendar .prev-month{
    left: 50px;
    border-left: 0;
    border-right: 6px solid #999;
}
.calendar .next-month{
    right: 50px;
    border-left: 0;
    border-left: 6px solid #999;
}
.calendar-table  {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.calendar-table tr{
    height: 30px;
    line-height: 30px;
}
.currentDay{
    color: red;
}
.currentMonth{
    color: #999;
}
.otherMonth{
    color: #ede;
}
@media screen and (max-width: 420px) {
    .calendar-box{
        width: 100%;
        border: none;
        margin: 0 auto;
    }
    .calendar{
        width: 100%;
    }
}
